html,body { position:absolute;height:100%;width:100%;margin: 0;
overflow-x: hidden;}

body.modal-open {
	overflow: hidden;
}

.colorred {
	#d30313
	#c91321
	#be222e
	#b4323c
}

.edit-profile-div {
	margin-top: 1%;
	margin-left: 2%;
	display: flex;
}

.edit-form-label {
	display: inline-block;
 	width: 150px;
 	text-align: left;
}

.edit-form > p > textarea {
	width: 50%;
}
.edit-form > p > input {
	width: 20%;
}

.edit-form {
	margin-left: 20px;
	flex-grow: 1;
}

.register-form {
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.header {
	overflow: hidden;
	width: 98.78%;
	height: 60px;
	background-color: #d30313;
	position: fixed;
	top: 0;
	z-index: 3;
}

.header-icon {
	width: 50px;
	float: left;
	margin: 5px;
}

.search-bar{
	margin: 10px;
}
.right-header {
	margin-right: 5%;
	height: 60px;
	display: inline-flex;
	float: right;
}

.login-container {
	float: left;
	top: 50px;
	width: 50%;
	height: 100%;
}

.info-div {
	background-color: #d30313;
	top: 50px;
	float: right;
	width: 50%;
	height: 100%;			
}

.tiktilaok {
	width: 90%;
	margin-left: 5%;
	margin-top: 15%;
}

.login-form {
	background-color: #d30313;
	margin: 5%;
	display: flex;
	flex-direction: column;
}
input {
	border: 2px solid LightGrey;
	border-radius: 5px;
	height: 30px;
}

.register-input {
	width: 30%;
	margin-bottom: 10px;
}
.register-input:focus {
	border: 2px solid #d30313;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.error,.success {
	text-align: left;
	font-style: italic;
	width: 30%;
	height: 3%;
}
.error {
	color: #d30313;
}
.success {
	color: Lime;
}

.input-text,.login-span {
	margin-left: 10%;
	margin-top: 5%;
	width: 60%;
}

.login-span{
	margin-bottom: 5%;
}

.login-button, .post-button {
	float: right;
}
.center-icon {
	width: 100%;
	margin-top: 5%;
}
.big-icon {
	width: 300px;
}
.small-icon {
	float: right;
	width: 50px;
}

.main-div{
	margin-top: 60px;
}

.home-div {
	display: flex;
	margin-top: 60px;
}
.home-info-div {
	margin: 1%;
	background-color: LightGrey;
	width: 20%;
	height: 10%;
}

.home-post-div {
	margin: 1%;
	width: 65%;
	
}

.post-form {
	border-radius: 8px;
	padding: 8px;
	background-color: Orange;
	margin: 2%;
}

textarea {
	resize: none;
	overflow: hidden;
}

.profilepic {
	border: 2px solid black;
	width: 200px;
	height: 200px;
	margin-top: 10%;
	margin-bottom: 5%;
}

.profile-pic,.search-pic {
	border: 2px solid black;
	margin: 1%;
	width: 220px;
	height: 220px;
}

.verifybutton {
	margin-top: 10%;
	float: none;
}

.post-feed {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}
.post-container {
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: : 5%;
	border-top: 3px solid #b4323c;
	border-radius: 5px;
	padding: 1%;
	background-color: Orange;
}

.description-textarea{
	overflow-wrap: break-word;
}

.description-div {
	background-color: LightBlue;
	margin-left: 3%;
	margin-right: 3%;

}
.description-p {
	display: inline-flex;
}

.profile-content{
	display: flex;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
	background-color: LightGrey;
		align-items: center;
}

.follow-button {
	float: right;
	flex-grow: 1;
	margin: 1%;
	border: 3px solid red;
	border-radius: 5px;
	cursor: pointer;
	width: 60px;
	height: 30px;
}

.follow-button:hover {
	border: 6px solid pink;
}

.followed,.active {
	background-color: #d30313;
}

.search-results,.search-result-keyword {
	margin: 2%;
}

.search-result-container {
	display: flex;
	width: 95%;
	margin: 2%;
	border: 2px solid LightGrey;
	padding: 3px;
  	align-items: center;
}
.search-result-container:hover {
	cursor: pointer;
	border: 3px solid #d30313;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.search-info-div,.profile-info-div {
	margin-left: 2%;
	width: 68%;
}

.search-button-form,.edit-button-form {
	margin-left: 2%;
}

.search-button{
	font-size: 1em;
}
.search-type-div,.edit-type-div {
	display: flex;
}

.view-picture {
	width: 160px;
	height: 160px;
}
.view-count-span {
	float: right;
	margin-right: 2%;
}
.view-category {
	width: 96%;
	margin: 2%;
}
.view-results {
	width: 96%;
	margin: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.view-container {
	padding: 10px;
	border: 2px solid LightGrey; 
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
}
.view-container:hover {
	border: 4px solid #d30313;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); 
}

.like-button {
	width: 40px;
	height: 40px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border: 2px solid red;
	background-color: transparent;
	transform: rotate(45deg);
	transition: background-color 150ms cubic-bezier(.39,.09,.63,1.75);
}

.like-button:hover,.show-comments-button:hover,.show-comment-modal-button:hover,.repost-button:hover {
	border: 4px solid pink;
}

.repost-button {
	width: 50px;
	height: 50px;
	border-top-right-radius: 50px; 
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border: 2px solid red;
	background-color: transparent;
	cursor: pointer;
}

.attached-picture {
	max-width: 500px;
	margin-left: 10%; 
}

.post-footer {
	width: 90%;
	display: inline-flex;
}

.like-button-div, .repost-button-div, .show-comments-button-div  {
	margin-right: 2%;
	width: 25%;
	justify-content: flex-start;
	align-content: center;
}

.strong-label {
	display: inline-block;
 	width: 120px;
 	text-align: left;
}

.stat-line {
	width: 100%;
}

.view-link {
	color: inherit;
	text-decoration: none;
}
.view-link:hover,.view-follow:hover {
	text-decoration: underline;
}

.profile-stat-span {
	margin-right: 5%;
}

.modal,.higher-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto;  Enable scroll if needed */
}
.modal {
	z-index: 4; /* Sit slightly on top */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.higher-modal {
	z-index: 5; /* Sit on top */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 10px;
    border: 2px solid LightGrey;
    border-radius: 8px;
    width: 70%; /* Could be more or less, depending on screen size */
}

.modal-header,.modal-postarea,.modal-post {
	margin: 1% auto;
	width: 100%;
	
}
.modal-header {
	border-bottom: 2px solid LightGrey;
	padding-bottom: 5px; 
}


.modal-post {
	border: 1px solid LightGrey;
	min-height: 160px;
	display: inline-flex;
}

.poster-pic {
	width: 150px;
	height: 150px;
	margin: 10px auto;
	margin-left: 1%;
	float: left;
	
}

.commentor-pic {
	width: 80px;
	height: 80px;
	margin: 10px auto;
	margin-left: 1%;
	float: left;
	cursor: pointer;
}

.comment-container{
	margin: 1% auto;
	width: 90%;
	border: 1px solid LightGrey;
	min-height: 120px;
	display: inline-flex;
}

.post-text {
	margin: 1%;
	padding-left: 2%;
	flex-grow: 1;
	display: inline;
	text-align: left;

}

.viewprofile,.view {
	cursor: pointer;
}

.viewprofile:hover,.view:hover {
	text-decoration: underline;
}

.improvisedlink {
	text-decoration: none;
	color: inherit;
	height: 0%;
}
.count{
	padding: 8px;
	text-align: center;
}
.username,.count {
	margin-left: 10px;
}

.post-stats {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	margin-left: 4%;	
}

.date {
	float: right;
}

.modal-postarea {
	border-top: 2px solid LightGrey;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-textarea {
	width: 600px;
}
.post-textarea:focus {
	border: 2px solid #d30313;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.post-button {
	background-color: #d30313;
	color: black;
	width: 80px;
	height: 35px;
	border: none;
	border-radius: 20px;
}
.post-button:hover {
	background-color: #FFA07A;
	border: 2px solid pink;
	font-weight: bold;	
}

.post-button:disabled {
	background-color: grey;
	border: 2px solid grey;
	font-weight: bold;	
}

.reposted-post {
	cursor: pointer;
	border: 1px solid LightGrey;
	max-width: 600px;
}

.reposted-post:hover {
	border: 1px solid red;
}

.profile-button{
	border-radius: 20px;
	margin-top: 15px;
	cursor: pointer;
	height: 50%;
	border: none;
	background-color: white ;
	color: #d30313; 
}

.profile-button:focus,.profile-button:hover {
	background-color: #b4323c;
}

.quick-post-button {
	margin: 15px;
	padding-left: 2px;
	padding-right: 2px;
	color: #d30313;
	background-color: white ;
	cursor: pointer;
	height: 50%;
}


/* The container <div> - needed to position the dropdown content */
.profile-dropdown {
    position: relative;
    display: inline-block;
}

.post-menu-dropdown {
	z-index: 0;
	position: relative;
	display: inline-block;
}
.post-menu-button{
	z-index: -1;
}
.post-menu-content{
    display: none;
    position: absolute;
    right: 5%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.quick-post-content {
	display: none;
	position: fixed;
	float: right;
	right: 5%;
	top: 55px;
	float: top;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	background-color: #f1f1f1;
	border: 2px solid LightGrey;
	border-radius: 3px;
	padding: 2px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    right: 5%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.post-menu-content {
  list-style-type: none;
  padding:0;
  margin:0;
}
/* Links inside the dropdown */
.dropdown-content a,.post-menu-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,.post-menu-content li:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.original:hover {
	border: 2px solid #be222e;
}

.show-comments-button,.show-comment-modal-button {
	width: 50px;
	height: 50px;
	border: 2px solid red;
	background-color: transparent;
	transition: background-color 150ms cubic-bezier(.39,.09,.63,1.75);
}

.comment-section {
	border-top: 2px solid LightGrey;
	margin: 4px auto;
}


.search-bar-home > input[type=text] {
	width: 50%;
	border: 2px solid LightGrey;
}
.search-bar-home > input[type=text]:focus {
	border: 4px solid #d30313;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

}

.greyed {
	background-color: LightGrey;
}

button:focus {
    outline: none;
}

.post-text > .content {
	max-width: 600px;
	overflow-wrap: break-word;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	border: 1px solid #ddd; /* Gray */
}
.currentPage {
	background-color: #d30313;
}
.pagination-container {
	text-align: center;
	margin-bottom: 60px;
}

.post-text .repost blockquote {
	width: 80%;
}

#refreshSuggestions{
	text-decoration: underline;
	color: #b4323c;
	cursor: pointer;
}

.suggestions {
	margin: 1%;
	padding-left: 1%; 
	padding-right: 1%;
	text-align: center;
}
.suggestion-container {
	width: 150px;
	padding: 10px;
	border: 2px solid LightGrey; 
}
.suggestion-picture {
	width: 120px;
	height: 120px;
	margin: 1%;
}

.suggestion-container .follow-button {
	float: none;
	width: 100px;
}

.view-container .follow-button {
	float: none;
	width: 100px;
}