html, body { height: 100%; margin: 0; }

.header {
	width: 100%;
	height: 10%;
	background-color: WhiteSmoke;
}

.logo {
	height: 100%;
	float: left;
	margin-right: 10px;
}

.tesuto {
	font-size: 50px;
}

.right-header {
	display: flex;
	float: right;
}


.register-label {
	display: inline-block;
 	width: 140px;
 	text-align: right;
}

table {
	border-collapse: collapse;
}
table, th, td {
		border: 1px black;
}
th, td {
	padding: 15px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: left;
	cursor: pointer;
}

.summary-table {
	width: 100%;
	border-collapse: collapse;
}
.summary-table,.summary-th,.summary-td {
	border: 1px solid black;
}
.summary-th,.summary-td {
	padding: 15px;
	text-align: left;
}

.search-sort-bar {
	display: flex;
}
.exams-container {
	display: flex;
}
.exam-list {
	overflow-x: scroll;
}
.exam-display {
	position: absolute;
	display: flex;
	width: 100%;
	visibility: hidden;
}
.exam-image{
	flex-grow: 1;
}
.exam-info{
	flex-grow: 1;
}
.exam-take{
	flex-grow: 1;		
}

.result-set {
	display: flex;
}